[Unit]
After=jack.service
Requires=jack.service

[Service]
Type=simple
User=we
Group=audio
LimitRTPRIO=95
LimitMEMLOCK=infinity
Environment=JACK_PROMISCUOUS_SERVER=jack
ExecStart=/home/we/norns/build/crone/crone

[Install]
WantedBy=norns.target
